:root {
    --page-bg: #f3f0f0;
    --fg: #333;
    --a: deeppink;
    --a-focus: hotpink;
    --a-active: pink;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #232020;
    --fg: #eee;
    --a: hotpink;
    --a-focus: deeppink;
    --a-active: mediumvioletred;
  }
}

* {
    font-family: "KacstOne", serif;
    color: var(--fg);
    font-size: 24pt;
}

body {
    background: var(--page-bg);
    --body-width: min(85%, 35rem);
    width: var(--body-width);
    margin: auto;  /* center */
}

a { color: var(--a) }
a:focus, a:hover { color: var(--a-focus) }
a:active { color: var(--a-active) }

[lang="ar"] {
    direction: rtl;
    text-align: right;
}

center > p.note {  /* "English is below" note */
  margin-top: 2em;
}

p.note {
    font-size: 65%;
}

hr {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

h2 { margin-bottom: -0.5em }

header, section.keyboards {
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0.25em;
    margin: 0;
}

li > a {
  text-decoration: none;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}
li > a:focus,
li > a:hover {
    color: var(--page-bg);
    background: var(--a-focus);
}
li > a:active {
    color: var(--page-bg);
    background: var(--a-active);
}

header img {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.4em;
}

